<p>detail works!</p>


<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          Card header. bar graph
        </div>
        <div class="card-body">
          <app-bar></app-bar>
        </div>
      </div>

    </div>
    <div class="col-sm-4 bg-secondary">
      <p>This is bar chart.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="build-block">
        <app-pie></app-pie>
        <!-- <footer id="block-footer">Local footer</footer> -->
        <div id=block-side>
          <div id="icon-bottom">
            <i class="fas fa-cloud"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <h2>This is Pie chart.</h2>
        <h2>This is Pie chart.</h2>
        <h2>This is Pie chart.</h2>
        <div id=block-side>
          <div id="icon-bottom">
            <i class="fas fa-cloud"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <!-- <footer id="block-footer">Local footer</footer> -->
      </div>

    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <p>This is Pie chart details.</p>
        <div id=block-side>
          <div id="icon-bottom">
            <i class="fas fa-cloud"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <p>This is Pie chart details. 2</p>
        <!-- <footer id="block-footer">Local footer</footer> -->
        <div id=block-side>
          <div id="icon-bottom">
            <i class="fas fa-cloud"></i>
            <i class="fas fa-file"></i>
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="build-block">
        <h1>Hello</h1>
        <footer id="block-footer">Local footer</footer>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <h2>This is Pie chart.</h2>
        <footer id="block-footer">Local footer</footer>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <p>This is Pie chart details.</p>
        <footer id="block-footer">Local footer</footer>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="build-block">
        <p>This is Pie chart details. 2</p>
        <footer id="block-footer">Local footer</footer>
      </div>
    </div>
  </div>



</div>