<p>detail works!</p>


<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          Card header. bar graph
        </div>
        <div class="card-body">
          <app-bar></app-bar>
        </div>
      </div>

    </div>
    
  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="build-block">
        <app-pie></app-pie>
        <!-- <footer id="block-footer">Local footer</footer> -->
        
      </div>

    </div>    
  </div>





</div>