<p>detail works!</p>

<div class="d-flex p-3 bg-secondary text-white">
    <app-bar></app-bar>
</div>

<div class="container">
    <app-pie></app-pie>
</div>


<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <app-bar></app-bar>
      </div>
      <div class="col-sm-4">
        <p>This is bar chart.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-pie></app-pie>
        </div>
        <div class="col-lg-6">
            <p>This is Pie chart.</p>
        </div>
    </div>
  </div>