<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid { border: 2px solid yellow }
</style>

<div class="m-2">
    <div class="bg-info text-white p-2">
        Selected Build : {{selectedBuild || '(None)'}}
    </div>

    <table class="table table-ordered">
        <tr *ngFor="let item of getBuild(); let i=index" [class.bg-info]="getSelectedItem(item)"
            (mouseover)="selectedBuild=item.Id">
            <td>{{i+1}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Status}}</td>
        </tr>
    </table>

    <div class="form-group">
        <label>Build Name</label>
        <input class="form-control" [(ngModel)]="selectedBuild" />
    </div>


    <div class="m-2">
        <div class="bg-info" >Build data: {{jsonBuild}}</div>

        <form novalidate (ngSubmit)="addBuild(newBuild)">
        <div class="form-group">
            <label>Build Name</label>
            <input class="form-control" [(ngModel)]="newBuild.Name" name="buildName"
            required minlength="10">
        </div>
        <!-- <button class="btn btn-primary" (click)="addBuild(newBuild)">Submit</button> -->
        <button class="btn btn-primary" type="submit">
            Create
        </button>
    </form>
    </div>
    
</div>