 <div id="mySidenav" class="sidenav">
 
  <ul>
    <!-- <li>
      <a href="javascript:void(0)" class="closebtn" (click)="sidenavCloseButtonClicked()">
        <p>&times;</p>
      </a>
    </li> -->
    <li>
      <a [routerLink]="['/dashboard']">
        <p> Home </p>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/dashboard/detail']">
        <p> Detail </p>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/dashboard/digitalboard']">
        <p> DigitalBoard </p>
      </a>
    </li>
    <li>
      <a [routerLink]="['/dashboard/kpi']">
        <p> KPI </p>
      </a>
    </li>
  </ul>
</div>
<!-- <div class="sidebar-wrapper" id="mySidenav">
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="['/dashboard/detail']">
        <p> Detail </p>
      </a>
    </li>
  </ul>
</div> -->

<!--   
  <div id="main">
    <h2>Sidenav Push Example</h2>
    <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>    
    <span style="font-size:30px;cursor:pointer" (click)="toggleSideNav()">&#9776; open</span>
  </div> -->

<!-- <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script> -->